.about__header {
  margin-top: 6rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  font-family: 'Amatic SC', cursive;
  color: #3B0508;
  font-size: 2rem;
}

.about__header h2 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.about__header p {
  font-weight: bold;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .App {
    text-align: center;
    align-items: center;
  }

  .about__header {
    background-color: rgba(255, 255, 255, 0.596);
    margin: 5rem 1rem;
    padding: 1rem;
    text-align: center;
  }
}