@import 'nav-bar.css';
@import 'footer.css';
@import 'home-form.css';
@import 'ingredients-list.css';
@import 'recipes-list.css';
@import 'recipe-card.css';
@import 'favorites.css';
@import 'about.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  background-image: url("./images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: #3B0508;
  text-align: right;
  margin-right: 5rem;
  margin-top: 11rem;
  margin-bottom: -6rem;
  font-size: 10rem;
}

.recipes__card--expanded {
 display: block;
}

.recipes__card--hidden {
 display: none;
}

.recipe__button--show {
  display: block;
}

.recipe__button--hidden {
  display: none;
}
