* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* min-height: 100vh; */

body {
 background-image: url("./images/main-background.jpg");
}

 /* my code starts below */

.recipes__card--expanded {
 display: block;
}

.recipes__card--hidden {
 display: none;
}

.recipe__button--show {
  display: block;
}

.recipe__button--hidden {
  display: none;
}
