.ingredients__list {
  font-family: 'News Cycle', sans-serif;
  font-size: 1.5rem;
  border: 1px solid #eee;
  display: inline-block;
  padding: 0 1rem 0 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.4);
  list-style-type: none;
  text-align: right;
  color: #3B0508;
}

.form--ingredients {
  margin-top: 5rem;
  text-align: center;
}

.ingredients__list__section {
  position: relative;
  top: -8rem;
  right: 3rem;
}

@media only screen and (max-width: 768px) {
 
  .ingredients__list {
    text-align: center;
    align-content: center;
  }

  .form--ingredients {
    display: flex;
    flex-direction: column;
  }
  
  ul.ingredients__list {
    margin-top: 1rem
  }

  .ingredients__list__section {
    position: relative;
    top: 0;
    right: 0;
  }
}