nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  background-color: #2C1A12;
  min-height: 3.5rem;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
}

nav a {
  margin-right: 5rem;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: #E2E0E1;
  font-size: 3rem;
  font-weight: bold;
}
