.recipes__card--expanded {
 width: 150px;
 padding: 1rem 0.5rem;
 margin-top: 0.5rem;
 display: block;
}

ul {
  list-style-type: none;
}

.recipes__card--hidden {
 display: none;
}

.recipe__button--show {
  display: block;
}

.recipe__button--hidden {
  display: none;
}


.recipe__card {
  align-content: center;
  margin: 0 auto;
  max-width: 20rem;
  border: 1px solid #eee;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.9);;
  font-family: 'News Cycle', sans-serif;
  padding: 0.5rem;
  border-radius: 0.2rem;
  flex-grow: 1;
  color: #3B0508;
  overflow: hidden;
  list-style-type: none;
  font-size: 0.9rem;
}

.recipe__card svg {
  padding: 0 auto;
  max-width: fit-content;
}

.recipe__card ul {
  margin: 0 auto;
}

.recipe__card--links {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.recipe__card a {
  text-decoration: none;
  color: #3B0508;
  background-color: rgba(248, 171, 6, 0.589);
  padding: 0 1rem;
  border-radius: 0.2rem;
}

.recipe__card a:not(:first-child) {
  background-color: #ae151ac4;
}

.recipe__card a:not(:first-child):hover {
  background-color: #ae151af5;
}

.recipe__card a:hover {
  text-decoration: none;
  color: #3B0508;
  background-color: rgba(248, 171, 6, 1);
}

.recipe__card:hover {
  border: 1px solid #3b05085b;
  background-color: rgba(255, 255, 255, 0.8);;
  font-family: 'News Cycle', sans-serif;
  padding: 0.5rem;
  border-radius: 0.2rem;
  flex-grow: 1;
  color: #3B0508;
  overflow: hidden;
}

.recipe__card--img {
  width: 100%; 
  height: 15rem;
  border-radius: 0.2rem;
  opacity: 0.9;
}

.recipe__card--img:hover {
  opacity: 1;
}

.recipe__card--visible {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1rem;
}

.recipe__card--infos {
  display: flex;
  justify-content: space-between;
}

.recipe__card h3 {
  max-width: fit-content;
}

