.recipes__list {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
  gap: 2rem;
}

.waiting {
  display: block;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
}

.notWaiting {
  display: none;
}

@media only screen and (max-width: 768px) {
  .searchPage__form {
    margin-top: 10rem;
  }
}
